<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>社区服务平台</title>
<link rel="shortcut icon" href="__PUBLICAPP__/img/favicon.ico">
<link type="text/css" rel="stylesheet" href="__PUBLICAPP__/css/base.css">
</head>
<body class="style_orange">

<!-- 搜索 -->
首页


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="http://192.168.0.8:81/100msh_home/templates/js/jq.js"><\/script>')</script>
<script src="http://192.168.0.8:81/100msh_home/all-in-one/js/baiduTemplate.js"></script>
<script src="http://192.168.0.8:81/100msh_home/all-in-one/js/mod.js"></script>
</body>
</html>