@charset "utf-8";
/* 弹出框关闭按钮 */
.js_close{ position:absolute; z-index:1; right:10px; top:10px; color:#aaa; font-size:18px; line-height:20px; width:20px; text-align:center; cursor:pointer; font-family:arial;}
.js_close:hover{ background:#349897; color:#fff;}

/* 登录注册 */
#box_login_register{position:absolute; z-index:1000; left:0; right:0; top:0; bottom:0; background:url(../images/bg/black_40.png) repeat 0 0; display:none;}
.mod_login_register{height:358px; width:958px; position:absolute; top:50%; left:50%; margin:-180px 0 0 -480px; background:#fff; border:1px solid #eee; overflow:hidden;}

/* 登录 */
.mod_login{ position:absolute; left:0; top:0; height:358px; width:958px;}
.mod_login .login{ position:absolute; left:0; top:0; bottom:0; right:50%;}
.mod_login .login>.title{ padding:30px 0 3px 60px; font-size:18px; color:#349897;}
.mod_login .login .login_items{ }
.mod_login .login .item{ background:#f0f0f0; position:relative; background:#f0f0f0; padding:3px 0; margin:10px 60px 0 60px;}
.mod_login .login .item>.title{ position:absolute; left:10px; top:0; line-height:38px; color:#666;}
.mod_login .login .item>.inputbox{ padding:0 0 0 60px;}
.mod_login .login .item>.inputbox input{ width:90%; border:0 none; background:none; color:#a9a9a9;}
.mod_login .login .item>.code{ position:absolute; right:0; top:0; width:50%; background:#fff; padding:0 0 0 4px; height:38px;}
.mod_login .login .rememberpassword{ line-height:4; color:#666; padding:0 0 0 82px; position:relative; cursor:pointer;}
.mod_login .login .rememberpassword span{ position:absolute; left:60px; top:50%; margin:-7px 0 0 0; width:13px; height:13px; border:1px solid #d9d9d9; background:#f0f0f0;}
.mod_login .login .rememberpassword:hover span{ border-color:#c0c0c0;}
.mod_login .login .tologin{ position:absolute; left:0px; bottom:60px; right:60px; height:46px; line-height:46px; padding:0 0 0 60px; background:#9dd6c5; font-family:'黑体'; font-size:17px; color:#000; cursor:pointer; }
.mod_login .login .tologin span{ position:absolute; right:16px; top:0; height:46px; width:11px; background:url(../images/icon/to_1_right.png) no-repeat 0 50%;}
.mod_login .login .accident{ position:absolute; bottom:0; left:0; right:0; line-height:60px; padding:0 0 0 40px;}
.mod_login .login .accident div{ float:left; padding:0 0 0 20px; cursor:pointer; color:#666;}
.mod_login .login .accident div:hover{ color:#3daeb6;}

.mod_login .slogn{ height:100%; margin:0 0 0 50%; padding:0 40px; background:#edf4f1; color:#808080;}
.mod_login .slogn .welcome{ color:#349897; font-size:18px; padding:90px 0 40px 0;}
.mod_login .slogn .weHave{ font-family:arial;}
.mod_login .slogn .weHave .strong{ font-size:16px; font-weight:bold; line-height:2;}

/* 注册 */
.mod_register{ position:absolute; left:0; top:358px; height:358px; width:958px;}
.mod_register .register{ position:absolute; left:0; top:0; bottom:0; right:50%;}
.mod_register .register>.title{ padding:30px 0 3px 60px; font-size:18px; color:#349897;}
.mod_register .register .register_items{ }
.mod_register .register .item{ background:#f0f0f0; position:relative; background:#f0f0f0; padding:3px 0; margin:10px 60px 0 60px;}
.mod_register .register .item>.title{ position:absolute; left:10px; top:0; line-height:38px; color:#666;}
.mod_register .register .item>.inputbox{ padding:0 0 0 60px;}
.mod_register .register .item>.inputbox input{ width:90%; border:0 none; background:none; color:#a9a9a9;}
.mod_register .register .item>.code{ position:absolute; right:0; top:0; width:50%; background:#fff; padding:0 0 0 4px; height:38px;}
.mod_register .register .agreement{ line-height:4; color:#666; padding:0 0 0 82px; position:relative; cursor:pointer;}
.mod_register .register .agreement span{ position:absolute; left:60px; top:50%; margin:-7px 0 0 0; width:13px; height:13px; border:1px solid #d9d9d9; background:#f0f0f0;}
.mod_register .register .agreement:hover span{ border-color:#c0c0c0;}
.mod_register .register .tologin{ position:absolute; left:0px; bottom:60px; right:60px; height:46px; line-height:46px; padding:0 0 0 60px; background:#9dd6c5; font-family:'黑体'; font-size:17px; color:#000; cursor:pointer; }
.mod_register .register .tologin span{ position:absolute; right:16px; top:0; height:46px; width:11px; background:url(../images/icon/to_1_right.png) no-repeat 0 50%;}
.mod_register .register .accident{ position:absolute; bottom:0; left:0; right:0; line-height:60px; padding:0 0 0 40px;}
.mod_register .register .accident div{ float:left; padding:0 0 0 20px; cursor:pointer; color:#666;}
.mod_register .register .accident div:hover{ color:#3daeb6;}

.mod_register .slogn{ height:100%; margin:0 0 0 50%; padding:0 40px; background:#edf4f1; color:#808080;}
.mod_register .slogn .welcome{ color:#349897; font-size:18px; padding:90px 0 40px 0;}
.mod_register .slogn .weHave{ font-family:arial;}
.mod_register .slogn .weHave .strong{ font-size:16px; font-weight:bold; line-height:2;}

/* 忘记密码 */
.mod_password{ position:absolute; left:0; top:716px; height:358px; width:958px;}
.mod_password .password{ position:absolute; left:0; top:0; bottom:0; right:50%;}
.mod_password .password>.title{ padding:30px 0 3px 60px; font-size:18px; color:#349897;}
.mod_password .password>.title .list{ color:#999; cursor:pointer;}
.mod_password .password>.title .list.choose{ color:#349897; cursor:default;}
.mod_password .password .password_items{ }
.mod_password .password .item{ background:#f0f0f0; position:relative; background:#f0f0f0; padding:3px 0; margin:10px 60px 0 60px;}
.mod_password .password .item>.title{ position:absolute; left:10px; top:0; line-height:38px; color:#666;}
.mod_password .password .item>.inputbox{ padding:0 0 0 60px;}
.mod_password .password .item>.inputbox input{ width:90%; border:0 none; background:none; color:#a9a9a9;}
.mod_password .password .item>.getcode{ position:absolute; right:0; top:0; width:50%; background:#fff; padding:0 0 0 4px; height:38px; line-height:38px;}
.mod_password .password .item>.code{ position:absolute; right:0; top:0; width:50%; background:#fff; padding:0 0 0 4px; height:38px;}
.mod_password .password .tologin{ position:absolute; left:0px; bottom:60px; right:60px; height:46px; line-height:46px; padding:0 0 0 60px; background:#9dd6c5; font-family:'黑体'; font-size:17px; color:#000; cursor:pointer; }
.mod_password .password .tologin span{ position:absolute; right:16px; top:0; height:46px; width:11px; background:url(../images/icon/to_1_right.png) no-repeat 0 50%;}
.mod_password .password .accident{ position:absolute; bottom:0; left:0; right:0; line-height:60px; padding:0 0 0 40px;}
.mod_password .password .accident div{ float:left; padding:0 0 0 20px; cursor:pointer; color:#666;}
.mod_password .password .accident div:hover{ color:#3daeb6;}

.mod_password .slogn{ height:100%; margin:0 0 0 50%; padding:0 40px; background:#edf4f1; color:#808080;}
.mod_password .slogn .welcome{ color:#349897; font-size:18px; padding:90px 0 40px 0;}
.mod_password .slogn .weHave{ font-family:arial;}
.mod_password .slogn .weHave .strong{ font-size:16px; font-weight:bold; line-height:2;}

/* 电话订购流程 */
#box_orderByPhone{ position:absolute; z-index:1000; left:0; right:0; top:0; bottom:0; background:url(../images/bg/black_40.png) repeat 0 0; display:none;}
.mod_orderByPhone{ height:358px; width:958px; position:absolute; top:50%; left:50%; margin:-180px 0 0 -480px; background:#fff; border:1px solid #eee;}





































