@charset "utf-8";
/* 路径 */
.box_path{ line-height:55px; padding:0 10px;}
.box_path a{ float:left; color:#3daeb6;}
.box_path span{ float:left;}
.box_path em{ float:left; color:#ccc; padding:0 6px;}

































