@charset "utf-8";
/* 用户中心导航 */
.mod_userCenter_nav{ background:#333; width:246px; position:relative; height:100%;}

.mod_userCenter_nav_user{ position:relative; height:74px; overflow:hidden;}
/* 未登录 */
.mod_userCenter_nav_nologin{ position:absolute; left:0; right:0; top:0; height:74px; color:#b79a7f; line-height:74px; font-size:16px; cursor:pointer; background:url(../images/bg/user.png) repeat-x 0 0;}
.mod_userCenter_nav_nologin .photo{ width:50px; height:50px; position:absolute; left:12px; top:12px;}
.mod_userCenter_nav_nologin .photoCover{ position:absolute; left:0; top:0; z-index:1; height:74px; width:74px; background:url(../images/bg/photoCover.png) no-repeat 0 0;}
.mod_userCenter_nav_nologin .login{ padding:0 37px 0 74px; color:#b79a7f; height:74px; line-height:74px; font-size:16px; font-weight:bold; text-shadow:0 1px 2px #000; overflow:hidden;}
.mod_userCenter_nav_nologin .loginCover{ position:absolute; top:0; right:0; background:url(../images/bg/user.png) repeat-x 0 0; width:37px; height:74px;}
.mod_userCenter_nav_nologin .to{ position:absolute; top:0; right:0; width:37px; height:74px; background:url(../images/icon/to_1_right.png) no-repeat 50% 50%; opacity:0.4; filter:alpha(opacity=0);}
/* 已登录 */
.mod_userCenter_nav_logined{ position:absolute; left:0; right:0; top:74px; display:block; height:74px; background:url(../images/bg/user.png) repeat-x 0 0; }
.mod_userCenter_nav_logined .photo{ width:50px; height:50px; position:absolute; left:12px; top:12px;}
.mod_userCenter_nav_logined .photoCover{ position:absolute; left:0; top:0; z-index:1; height:74px; width:74px; background:url(../images/bg/photoCover.png) no-repeat 0 0;}
.mod_userCenter_nav_logined .name{ padding:0 37px 0 74px; color:#b79a7f; height:74px; line-height:74px; font-size:18px; text-shadow:0 1px 2px #000; overflow:hidden;}
.mod_userCenter_nav_logined .nameCover{ position:absolute; top:0; right:0; background:url(../images/bg/user.png) repeat-x 0 0; width:37px; height:74px;}
.mod_userCenter_nav_logined .to{ position:absolute; top:0; right:0; width:37px; height:74px; background:url(../images/icon/to_1_right.png) no-repeat 50% 50%; opacity:0.4; filter:alpha(opacity=0);}

/* 用户中心导航列表 */
.box_userCenter_nav_list{ position:absolute; z-index:1; top:74px; bottom:0; left:0; width:100%; overflow:auto;}
.mod_userCenter_nav_list{ border-bottom:1px solid #3f3f3f;}
.mod_userCenter_nav_list .csss{ background-image:url(../images/icon/userCenter_nav.png); background-repeat:no-repeat; border-top:1px solid #3f3f3f; border-bottom:1px solid #292929;}

/* 当前网站内容，切换社区、网站地图 */
.mod_userCenter_nav_list .aboutSite a{ display:block; height:58px; line-height:58px;}
.mod_userCenter_nav_list .aboutSite a.change{ background-position:0 0;}
.mod_userCenter_nav_list .aboutSite a.sitemap{ background-position:0 -58px;}
.mod_userCenter_nav_list .aboutSite a:hover{ background-color:#2f2f2f;}

/* 关于购物，购物车、收藏、浏览历史、订单、收货地址、优惠券 */
.mod_userCenter_nav_list .shopping .shopping_title{ height:38px; line-height:38px; background-color:#292929; background-position:-480px 0;}
.mod_userCenter_nav_list .shopping a{ display:block; height:58px; line-height:58px;}
.mod_userCenter_nav_list .shopping .cart{ background-position:0 -116px;}
.mod_userCenter_nav_list .shopping .order{ background-position:0 -290px;}
.mod_userCenter_nav_list .shopping .coupon{ background-position:0 -348px;}
.mod_userCenter_nav_list .shopping .love{ background-position:0 -174px;}
.mod_userCenter_nav_list .shopping .history{ background-position:0 -232px;}
.mod_userCenter_nav_list .shopping .address{ background-position:0 -406px;}
.mod_userCenter_nav_list .shopping a:hover{ background-color:#2f2f2f;}

/* 交友聊天，站内信息、朋友列表、对话 */
.mod_userCenter_nav_list .chat .chat_title{ height:38px; line-height:38px; background-color:#292929; background-position:-480px -38px;}
.mod_userCenter_nav_list .chat a{  display:block; height:58px; line-height:58px;}
.mod_userCenter_nav_list .chat .message{ background-position:0 -464px; position:relative;}
.mod_userCenter_nav_list .chat .message .tips{ padding:0 6px; height:18px; line-height:18px; border:1px solid #fff; color:#fff; text-align:center; background:#f3924b; position:absolute; top:21px; right:20px;}
.mod_userCenter_nav_list .chat .friend{ background-position:0 -522px;}
.mod_userCenter_nav_list .chat a:hover{ background-color:#2f2f2f;}

/* 用户设置、帮助 */
.mod_userCenter_nav_list .setting .setting_title{ height:38px; line-height:38px; background-color:#292929; background-position:-480px -76px;}
.mod_userCenter_nav_list .setting a{ display:block; height:58px; line-height:58px;}
.mod_userCenter_nav_list .setting .set{ background-position:0 -580px;}
.mod_userCenter_nav_list .setting .help{ background-position:0 -638px;}
.mod_userCenter_nav_list .setting a:hover{ background-color:#2f2f2f;}


/* 用户中心 - 首页 */
.box_userCenter_index .title{ font-size:32px; height:74px; line-height:74px; padding:0 0 0 74px; border-bottom:1px solid #e5e5e5;}






