@charset "utf-8";
/* 版权所有100MSH.COM
==============================================================================================================================================================================================================================================================================================================================================================================================================================
   重置和库：永远不变的东西，兼容旗下所有网站
==============================================================================================================================================================================================================================================================================================================================================================================================================================
*/

/* ============================== 重置 ============================== */
*{-webkit-tap-highlight-color:rgba(255,255,255,0);}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,form,textarea{ margin:0;}
ul,ol,td,th,textarea,option{ padding:0;}
ul,ol{ list-style:none;}
a{ text-decoration:none; outline:0 none;
-moz-user-select: none;  
-webkit-user-select: none;  
-ms-user-select: none;  
-webkit-touch-callout:none;
}
img {border:0 none;}
var{ display:inline-block; height:100%; width:0; vertical-align:middle; }/* 垂直居中专用标签 */
table{ table-layout:fixed; border-spacing:0; border-collapse:collapse; width:100%; }
select{ margin:0; padding:2px; background:#fff; border:1px solid #d9d9d9; margin:1px; *margin:0; }
textarea{ white-space:pre-wrap; text-align:justify; text-justify:inter-ideograph; overflow-y:auto; resize:none; outline:none; margin:1px; *margin:0; }
input[type=text]{ outline:0 none; border:0 none; overflow:hidden; zoom:1; margin:1px; *margin:0; height:17px; line-height:17px;}
input[type=checkbox],input[type=radio]{ width:13px; height:13px; overflow:hidden; padding:0; vertical-align:middle; zoom:1; margin:1px; *margin:0; }

/* ============================== 库 ============================== */
/* 定位 */
.ku_pos_r{ position:relative; }.ku_pos_a{ position:absolute; }
/* 浮动 */
.ku_fix{ zoom:1; }
.ku_fix:after{ display:block; content:""; height:0; clear:both; overflow:hidden; visibility:hidden; }
.ku_fl_l{ float:left; }
.ku_fl_r{ float:right; }
.ku_ov_h{ overflow:hidden; }
.ku_ov_a{ overflow:auto; }
.ku_cell{ display:table-cell; *display:inline-block; width:20000px; *width:auto; }

/* 隐藏 */
.ku_thide{ position:absolute !important; top:-100000px !important; overflow:hidden !important; height:0 !important; font-size:0 !important; line-height:0 !important; }
/* 垂直居中 */
.ku_va_m{ vertical-align:middle !important; display:inline-block; *display:inline; }

/* 备用 

:active{ -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -khtml-user-select:none; user-select:none;}

*/

/* 
==============================================================================================================================================================================================================================================================================================================================================================================================================================
   网站风格：全站受影响。当前网站关于风格的样式，做到只修改一个地方所有地方都变化。包括颜色、边框、尺寸等
==============================================================================================================================================================================================================================================================================================================================================================================================================================
*/


/* ============================== 统一的模块 ============================== */



/* 
==============================================================================================================================================================================================================================================================================================================================================================================================================================
   具体样式：绝对的一对一
==============================================================================================================================================================================================================================================================================================================================================================================================================================
*/

/* ============================== 头部 ============================== */


/* ============================== 首页 ============================== */
