<!-- 店铺信息 -->
<div class="box_store">
	<div class="box_width">
    	<div class="ku_fix mod_store">
        	<div class="logo" style="background:url('{{$__PUBLIC__}}/pic/store/logo/1.jpg') no-repeat 50% 50%;"></div>
            <div class="summary">
            	<div class="text">
                	浙江苏泊尔股份有限公司是中国最大、全球第二的炊具研发制造商，中国厨房小家电袋先品牌中国厨房小家电袋先品牌中国厨房小家电袋先品牌中国厨房小家电袋先品牌中国厨房小家电袋先品牌；苏泊尔创立于1994年，是中国炊具
                    <div class="ellipsis"></div>
                </div>
                <div class="ku_fix more">
                	<div class="open_text">展开简介</div>
                    <div class="line">|</div>
                    <a href="http://www.supor.com.cn/" class="visitWebsite">访问管网</a>
                </div>
            </div>
            <div class="pic" style="background:url('{{$__PUBLIC__}}/pic/store/pic/1.jpg') no-repeat 50% 50%;"></div>
            <div class="phoneVisit">
                <img src="{{$__PUBLIC__}}/pic/store/pic/qrcode.png" alt="" />
            </div>
            <div class="love choose">
                <div class="icon"></div>
                <div class="people_love">1084 人收藏</div>
                <div class="you_love">已收藏</div>
            </div>
        </div>
	</div>    
</div>
