<!-- 欢迎 -->
<div class="box_welcome"></div>

<!-- 第一次使用引导 -->
<div class="box_guide">

</div>

<!-- 主功能按钮 -->
<div class="mod_option ku_left"></div>

<!-- 内容框架 -->
<div class="box_nowSite">


    <!-- 导航 -->
    <div class="box_header">
    
        <div class="shadow"></div>
        
        <a href="{{$__ROOT__}}" class="mod_logo"></a>
        
        <div class="mod_nav ku_fix">
        	<div>
        		<a href="#index.php?r=run/specialEvents/index">专题活动</a>
            </div>
            <div>
    	    	<a href="#index.php?r=run/store/index">旗舰店</a>
            </div>
            <div>
	        	<a href="#index.php?r=run/specialServices/index">特色服务</a>
            </div>
        </div>
        
        <div class="mod_rightTop ku_fix">
            <div id="js_open_orderByPhone" class="orderByPhone"></div>
        </div>
        
    </div>
    
    <!-- 当前网站页面载入框 -->
    <div class="box_framework">
    
        <!-- 首页内容载入框 -->
        <div id="ajax_index">
        	<div class="mod_loading"></div>
		</div>
        
        <!-- 专题活动载入框 -->
        <div id="ajax_specialEvents">
        	<div class="mod_loading"></div>
        </div>
        
        <!-- 店铺载入框 -->
        <div id="ajax_store">
        	<div class="mod_loading"></div>
        </div>
        
        <!-- 商品详情载入框 -->
        <div id="ajax_goods">
        	<div class="mod_loading"></div>
        </div>
        
        <!-- 特色服务载入框 -->
        <div id="ajax_specialServices">
        	<div class="mod_loading"></div>
        </div>
        
        <!-- 网站地图载入框 -->
        <div id="ajax_siteMap">
        	<div class="mod_loading"></div>
        </div>
        
    </div>
    
</div>


<!-- 用户中心页面载人框 -->
<div id="ajax_userCenter">
	<div class="mod_loading"></div>
</div>