<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>社区服务平台</title>
<link rel="shortcut icon" href="__PUBLICAPP__/img/favicon.ico">
<link type="text/css" rel="stylesheet" href="__PUBLICAPP__/css/base.css">
</head>
<body class="style_orange">
<!-- 首页 -->

<!-- 今日图片 -->
<div class="box_todayPic"><img id="today_pic" src="__PUBLICAPP__/img/todayPic/today.jpg" alt="" /></div>
    
<div class="page_index">
    <!-- logo -->
    <div class="box_logo">
        <div class="mod_logo"></div>
    </div>
    
    <!-- 搜索引导 -->
    <a class="mod_leadsearch" href="index.php?r=default/search/index"><span class="icon"></span></a>
    
    <!-- 应用 -->
    <div class="box_app">
        <div class="ku_fix mod_app">
            <div class="list my_community" onclick="location.href='http://www.100msh.com/'">
                <div class="icon"></div>
                <div class="text">我的社区</div>
            </div>
            <div class="list news" onclick="location.href='http://www.100msh.cn/'">
                <div class="icon"></div>
                <div class="text">社区资讯</div>
            </div>
            <div class="list mall" onclick="location.href='http://shop.100msh.com/'">
                <div class="icon"></div>
                <div class="text">社区商城</div>
            </div>
            <div class="list warehouse" onclick="location.href='http://store.100msh.com/'">
                <div class="icon"></div>
                <div class="text">仓储服务</div>
            </div>
            <div class="list express" onclick="location.href='http://express.100msh.com/'">
                <div class="icon"></div>
                <div class="text">快递服务</div>
            </div>
            <!-- 跑腿服务平台没有上线
            <div class="list run" onclick="location.href='http://www.100msh.com/'">
                <div class="icon"></div>
                <div class="text">跑腿服务</div>
            </div>
            -->
        </div>
    </div>
</div>

</body>
</html>